.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    padding: 15px 25px;
}
.menu{
    padding: 8px 10px;
    background-color: #BEBEBE33;
    border-radius: 8px;
}
.custom-input{
    width: 470px;
    background: #BEBEBE33;
    padding: 13px 25px;
    border: transparent;
    border-radius: 12px;
}
.vertical-line {
  width: 1px;
  height: 30px;
  background-color: #ccc;
}
.user-image{
    height: 48px;
    width: 48px;
}
.user-name{
    font-size: 16px;
    font-weight: 600;
}
.user-id{
    font-size: 14px;
    color: #BEBEBE;
    font-weight: 400;
}