.wrapper {
    display: flex;
    height: 100vh;
}
.main-panel {
    margin-left: 260px;
    width: calc(100% - 260px);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-wrapper{  
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.main-panel.full-width {
  margin-left: 0;
  width: 100%;
}