.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 260px;
    left: 0;
    z-index: 1030;
    border-right: 1px solid #ddd;
    background-color: #F5F6FE;
}

/* Logo styles */
.logo {
    position: relative;
    padding: 7px 0.7rem;
}

.logo img {
    width: 100%;
}