.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #11A2D5;
}
.login-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login-form {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* width: 80%; */
  max-width: 500px;
  border: 1px solid #111111;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #111111;
  background-color: #fff;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #4153EF;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #4153EF;
}

.form-check-input {
  width: 20px !important;
}
.login-outer-box {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  /* width: 90%; */
  max-width: 600px;
  box-sizing: border-box;
  text-align: center;
}

.outer-heading {
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 700;
}

.outer-subtext {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}
.login-logo {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 150px; /* Adjust as needed */
  height: auto;
}
.text-color{
  color: #001AFF !important;
}